.TomatoBox {
    width: 33%;
    height: 200px;
    background: tomato;
    float: left;
    text-align:center;
    font-size: 100px;
    color: white;
    line-height: 200px;
    user-select:none;
    position: relative;
}

.TomatoBox span{
    position: absolute;
    bottom: 0;
    right:0;
    font-size: 40px;
    line-height: 1
}